@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800&family=K2D:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
.ppage-heading h1{
  padding-top: 35px;
}

.container {
  max-width: 1392px !important;
}
.container-fluid{
  margin:0px !important;
  padding: 0px !important;   
}
.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}
.font-25{
  font-size: 25px;
}
.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.font-48 {
  font-size: 48px;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.jost {
  font-family: "Jost", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.color-22222 {
  color: #222222;
}

.color-767676 {
  color: #767676;
}

.color-2 {
  color: #484848;
}

.color-6 {
  color: #E95B1B;
}

.p-16 {
  padding: 16px;
}

.m-r-16 {
  margin-right: 16px;
}

.slick-next::before, .slick-prev::before {
  display: none !important;
}

.discount-tag {
  width: 70px;
  height: 24px;
  background: #EB7700;
  color: #ffffff;
  padding: 2px 8px;
}
.store a{
  color: black;
  text-decoration: none;
}

.discount {
  background-color: #FAF8F4;
  padding: 13px 0px;
}
.discount h1 {
  margin-left: 77px;
  font-weight: normal;
}
.discount span {
  color: #E95B1B;
}
.discount .contact {
  margin-right: 76px;
  height: 16px;
  line-height: 1;
}
.discount .contact a {
  color: #484848;
  text-decoration: none !important;
}
.contact a{
  text-decoration: none !important;
  color: #484848;
}
.discount .contact .fa-phone {
  font-size: 12px;
}

header {
  border-bottom: 1px solid #e5e5e5;
}
header .container2 .search {
  margin: auto 0px;
  margin-left: 300px;
}
header .container2 .search input {
  width: 480px;
  padding: 8px 0px 8px 14px;
  margin: auto 0px;
  height: 40px;
  border: 1px solid #dddddd;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
}
header .container2 .search input::-moz-placeholder {
  color: #767676;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
header .container2 .search input:-ms-input-placeholder {
  color: #767676;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
header .container2 .search input::placeholder {
  color: #767676;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
header .container2 .search button {
  height: 40px;
  background: transparent;
  border: 1px solid #dddddd;
  border-left: 0px;
  padding-right: 16.5px;
  margin-left: -5px;
  border-radius: 0px 4px 4px 0px;
}
header .container2 .store {
  line-height: 1;
  height: 40px;
  margin: auto 0px;
  margin-left: 50px;
  padding: 10px 0px;
  color: #767676;
  transition: 300ms ease-in;
}
header .container2 .store:hover {
  color: #E95B1B;
}
header .container2 .store span {
  margin-left: 8px;
  line-height: 1.4;
}
header .container2 .account {
  line-height: 1;
  margin: auto 0px;
  padding: 10px 0px;
  margin-left: 24px;
  color: #767676;
  transition: 300ms ease-in;
}
header .container2 .account img {
  margin-right: 26px;
}
header .container2 .account i {
  margin-right: 24px;
}
header .container2 .account i:hover {
  color: #E95B1B;
}

.m-b31 {
  margin-bottom: 31px;
}
.product-section img{
  width: 50%;
}
.ppage-heading{
    background: #f8f8f8;
    margin-bottom: 60px;
}

.product-section .container p {
  color: #767676;
  margin-bottom: 34px;
}
.product-section .container strike {
  color: #767676;
  margin-left: 8px;
}
.product-section .container h3 {
  margin-top: 12px;
  margin-bottom: 8px;
}

.product-section .container .sec4-box img:hover{
  transform: scale(1.05);
  border-radius: 4px;
}
.sec4-box img{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  object-fit: cover;
  transition: all 300ms ease 0s;
  cursor: pointer;
  z-index: 5;
  border-radius: 4px;
}
.sec4-box {
  overflow: hidden !important;
  border-radius: 4px;
}

.product-section a{
  text-decoration: none;
  color: black;
}

.contact {
  font-size: 16px !important;
}
.header-callicon img , .header-callicon a {
 width: 25px;
 font-size: 20px;
 font-weight:600;
} 
/* .call-icon{
  fill: #E95B1B;
  color: #E95B1B;
} */
@media only screen and (min-width: 200px) and (max-width: 900px){

.discount {
    display: none!important;
}

.header-helpcenter{
  display: none;
}
.contact {
  font-size: 16px !important;
}
.font-16 {
  font-size: 11px;
}
.font-14 {
  font-size: 11px;
}
.font-24 {
  font-size: 18px;
}
.pt-5 {
  padding-top: 1rem !important;
}
.ppage-heading h1{
  padding-top: 20px;
}





}
